{% extends 'users/base_users.html' %}
{% load static %}

{% block user_content %}

    <body class="login-page bg-body-secondary">
        <div class="login-box">
            <div class="card card-outline card-primary">
                <div class="card-header">
                    <a href="#" class="link-dark text-center link-offset-2 link-opacity-100 link-opacity-50-hover">
                        <h1 class="mb-0"><b>AdminLTE</b></h1>
                    </a>
                </div>
                <div class="card-body login-card-body text-center">
                    <h2 class="">Reset Password effettuato</h2>
                    <p class="text-gray-600 asm-bd">
                        Abbiamo inviato una mail al tuo indirizzo di posta elettronica. Se non ricevi la mail,
                        <br/><a href="{% url 'password_reset' %}">clicca qui</a>.
                    </p>
                    <p>Se non hai ricevuto la mail, richiedi un nuovo reset password e fai attenzione alla correttezza dei dati inseriti.</p>
                    <br />
                    <div class="d-grid gap-2">
                        <a href="{% url 'login' %}" class="font-bold">
                            <button type="button" class="btn btn-primary btn-block">Login</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>

{% endblock %}
