{% load static %}
<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
    <div class="sidebar-brand">
        <a href="{% url 'dashboard' %}" class="brand-link">
            <img src="{% static 'dist/assets/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image opacity-75 shadow">
            <span class="brand-text fw-light">VAITony</span>
        </a>
    </div>
    <div class="sidebar-wrapper">
        <nav class="mt-2">
            <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
                <!-- Dashboard -->
                <li class="nav-item">
                    <a href="{% url 'dashboard' %}" class="nav-link {% if 'dashboard' in request.resolver_match.url_name %}active{% endif %}">
                        <i class="nav-icon bi bi-speedometer"></i>
                        <p>Dashboard</p>
                    </a>
                </li>

                <!-- Progetti -->
                <li class="nav-item {% if 'project' in request.resolver_match.url_name %}menu-is-opening menu-open{% endif %}">
                    <a href="#" class="nav-link {% if 'project' in request.resolver_match.url_name %}active{% endif %}">
                        <i class="nav-icon bi bi-kanban"></i>
                        <p>
                            Progetti
                            <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'new_project' %}" class="nav-link {% if 'new_project' in request.resolver_match.url_name %}active{% endif %}">
                                <i class="nav-icon bi bi-plus-square"></i>
                                <p>Nuovo progetto</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'projects_list' %}" class="nav-link {% if 'projects_list' in request.resolver_match.url_name %}active{% endif %}">
                                <i class="nav-icon bi bi-list-check"></i>
                                <p>Lista progetti</p>
                            </a>
                        </li>
                        {% if 'documents_uploaded' in request.resolver_match.url_name %}
                        <li class="nav-item">
                            <a href="{% url 'documents_uploaded' %}" class="nav-link {% if 'documents_uploaded' in request.resolver_match.url_name %}active{% endif %}">
                                <i class="nav-icon bi bi-files"></i>
                                <p>Tutti i documenti</p>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </li>

                <!-- Impostazioni -->
                <li class="nav-item {% if 'ia_engine' in request.resolver_match.url_name or 'rag_settings' in request.resolver_match.url_name %}menu-is-opening menu-open{% endif %}">
                    <a href="#" class="nav-link {% if 'ia_engine' in request.resolver_match.url_name or 'rag_settings' in request.resolver_match.url_name %}active{% endif %}">
                        <i class="nav-icon bi bi-gear"></i>
                        <p>
                            Impostazioni
                            <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'ia_engine' %}" class="nav-link {% if 'ia_engine' in request.resolver_match.url_name %}active{% endif %}">
                                <i class="nav-icon bi bi-cpu"></i>
                                <p>Motore IA</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link {% if 'rag_settings' in request.resolver_match.url_name %}active{% endif %}">
                                <i class="nav-icon bi bi-sliders"></i>
                                <p>Parametri RAG</p>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
    </div>
</aside>