 {% load static %}
<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
    <div class="sidebar-brand">
        <a href="{% url 'dashboard' %}" class="brand-link">
            <img src="{% static 'dist/assets/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image opacity-75 shadow">
            <span class="brand-text fw-light">VAITony</span>
        </a>
    </div>
    <div class="sidebar-wrapper">
        <nav class="mt-2">
            <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
                <!-- Dashboard -->
                <li class="nav-item">
                    <a href="{% url 'dashboard' %}" class="nav-link">
                        <i class="nav-icon bi bi-speedometer"></i>
                        <p>Dashboard</p>
                    </a>
                </li>

                <!-- Documents -->
                <li class="nav-item">
                    <a href="{% url 'documents_uploaded' %}" class="nav-link">
                        <i class="nav-icon bi bi-file-earmark"></i>
                        <p>Documents</p>
                    </a>
                </li>

                <!-- Menu Uploads -->
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-cloud-upload"></i>
                        <p>
                            Uploads
                            <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'upload_document' %}" class="nav-link">
                                <i class="nav-icon bi bi-file-earmark"></i>
                                <p>Upload Single Document</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'upload_folder' %}" class="nav-link">
                                <i class="nav-icon bi bi-folder"></i>
                                <p>Upload Folder</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Menu Tools -->
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-tools"></i>
                        <p>
                            Tools
                            <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'rag' %}" class="nav-link">
                                <i class="nav-icon bi bi-search"></i>
                                <p>RAG</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'chiedi' %}" class="nav-link">
                                <i class="nav-icon bi bi-chat-dots"></i>
                                <p>Chiedi</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item {% if '/projects/' in request.path %}menu-is-opening menu-open{% endif %}">
                    <a href="#" class="nav-link {% if '/projects/' in request.path %}active{% endif %}">
                        <i class="nav-icon bi bi-kanban"></i>
                        <p>
                            Projects
                            <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'projects_list' %}" class="nav-link {% if 'projects_list' in request.resolver_match.url_name %}active{% endif %}">
                                <i class="nav-icon bi bi-list-check"></i>
                                <p>Projects List</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'new_project' %}" class="nav-link {% if 'new_project' in request.resolver_match.url_name %}active{% endif %}">
                                <i class="nav-icon bi bi-plus-square"></i>
                                <p>New Project</p>
                            </a>
                        </li>
                    </ul>
                </li>


            </ul>
        </nav>
    </div>
</aside>